﻿@model UnixStock.Web.Models.Product
@{
    ViewBag.Title = "ProductsEdit";
}

<h2>ProductsEdit</h2>

@using (Html.BeginForm("Edit", "Products"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Category)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Category)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Size)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Size)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Weight)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Weight)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Price)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Price)</div>

    <input type="submit" value="SEND" />
}

