﻿@model UnixStock.Web.Models.PrdocutsViewModel

@{
    ViewBag.Title = "Products Index";
}

<h2>Products Index</h2>

<p style="color:red">
    @TempData["editResult"]
</p>

@Html.Partial("ProductEdit", Model.EditedProduct)

@Html.Partial("ProductList", Model.ListOfProducts)
