﻿@model UnixStock.Web.Models.Product
@{
    ViewBag.Title = "ProductDetails";
}

<h2>Product Details</h2>

@Html.ActionLink("Back to the list", "Index");

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Category)</td>
        <td>@Html.DisplayFor(m => m.Category)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Size)</td>
        <td>@Html.DisplayFor(m => m.Size)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Weight)</td>
        <td>@Html.DisplayFor(m => m.Weight)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Price)</td>
        <td>@Html.DisplayFor(m => m.Price)</td>
    </tr>
</table>